{% extends 'AdminBundle::layout.html.twig' %}


{% block stylesheets %}
    <!--glyphicons-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/events.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/filter-form.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/grid-list.css') }}"/>
    {#    <link rel="stylesheet" href="{{ asset('bundles/admin/css/select2.css') }}"/>#}
{% endblock %}



{% block body %}
    <div class="container">
        {#FILTER#}
        <form action="http://localhost:8000/search_engine" method="GET">
            <div class="filter-from">
                {#SEARCH ENGINE#}
                <div id="custom-search-input">
                    <div class="input-group col-md-10">
                        <span class="input-group-btn">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>
                        <input id="search-engine" name='search_engine' type="text" class="form-control input-lg"
                               placeholder="search..."/>
                    </div>
                </div>
                <h1>OR</h1>

                {# FILTER ROW #}
                <div class="row">
                    <div class="col-sm-3 down">
                        <select class="selectpicker" id="car-type" name='car_makers' data-style="btn-info"
                                style="color:white;"
                                title="Alege marca masini" data-live-search="true">
                            {% for make in carMakers %}
                                <option>{{ make.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 down">
                        <select class="selectpicker" id="car-year-start" name='car-year-start'
                                title="An fabricatie de la ..."
                                data-live-search="true">
                            {% set minYear = "now - 36 years"|date("Y") %}
                            {% set maxYear = "now"|date("Y") %}
                            {% for year in minYear..maxYear %}
                                <option>{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 down">
                        <select class="selectpicker" id="car-price-from" name='car-price-from' title="Pret de la ...(lei)" data-live-search="true">
                            {% set minPrice = 100 %}
                            {% set maxPrice = 1000 %}
                            <option>{{ 'sub 50 lei'}}</option>
                            <option>{{ '50 lei'}}</option>
                            {% for price in range(minPrice, maxPrice, 100) %}
                                <option>{{ price }} {{'lei'}}</option>
                            {% endfor %}
                            <option>{{ 'peste 1000 lei'}}</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="selectpicker" id="car-piece" name='car-piece' title="Alege piesa"
                                data-live-search="true">
                            {% for product in announcement %}
                                <option>{{ product.productName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {# FILTER ROW #}
                <div class="row">
                    <div class="col-sm-3 up">
                        <select class="selectpicker" id="car-model" name='car_models' title="Alege modelul masini"
                                data-live-search="true" disabled>
                            {% for model in carModels %}
                                <option>{{ model.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 up">
                        <select class="selectpicker" id="car-year-end" name='car-year-end' title="An fabricatie pana la ..." data-live-search="true">
                            {% set minYear = "now - 36 years"|date("Y") %}
                            {% set maxYear = "now"|date("Y") %}
                            {% for year in minYear..maxYear %}
                                <option>{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 up">
                        <select class="selectpicker" id="car-price-to" name='car-price-to' title="Pret pana la ...(lei)"
                                data-live-search="true">
                            {% set minPrice = 100 %}
                            {% set maxPrice = 1000 %}
                            <option>{{ 'sub 50 lei'}}</option>
                            <option>{{ '50 lei'}}</option>
                            {% for price in range(minPrice, maxPrice, 100) %}
                                <option>{{ price }} {{'lei'}}</option>
                            {% endfor %}
                            <option>{{ 'peste 1000 lei'}}</option>
                        </select>
                    </div>
                    <div class='col-sm-1 checkbox'>
                        <input name='stock' type="checkbox" name='stock' id="stock"/>
                        <label for="stock">Stock</label>
                    </div>
                </div>

                {#FILTER ROW#}
                <div class="row">
                    <div class='col-sm-2' style="float:right">
                        <input data-element="load" id="search-form" class="btn btn-primary" type="submit"
                               value='Search'>
                    </div>
                </div>

            </div> {# end filter #}
        </form>

        <h1></h1>
        <div class="well well-sm">
            <strong>Toate anunturile gasite</strong>
            <div class="btn-group" style="float:right;">
                <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>List</a>
                <a href="#" id="grid" class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-th"></span>Grid</a>
            </div>
        </div>
        <h1></h1>

        {% block content %}
            <div class="container">
                {% if pagination.items is empty %}
                    <div id="no-result">
                        <h2>You have no entries</h2>
                    </div>
                {% else %}
                    <div id="products" class="row list-group">
                        {% for entity in pagination.items %}
                            <div id="test" class="item col-xs-4 col-lg-4">
                                {% if entity.stock > 0 %}
                                    <div class="ribbon ribbon-new"><span>NEW</span></div>
                                {% else %}
                                    <div class="ribbon ribbon-sold-out"><span>SOLD OUT</span></div>
                                {% endif %}
                                <div class="thumbnail">
                                    {% if entity.imageName is empty %}
                                        <img src="{{ asset('bundles/admin/images/automobil.png') }}"/>
                                    {% else %}
                                        <img src="{{ asset('uploads/products/' ~entity.imageName) }}"/>
                                    {% endif %}
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <h4 class="group inner list-group-item-heading">{{ entity.carMaker }}</h4>
                                                <p class="group inner list-group-item-text">{{ entity.description }}</p>
                                                <h4 class="group inner list-group-item-heading">{{entity.carYear}}</h4>
                                            </div>
                                            <div class="col-sm-4" style="margin-left: 40px;">
                                                {% if entity.price > 0 %}
                                                    <p class="price">{{entity.price}}&nbsp;<span style="margin-right: -20px;">lei</span></p>
                                                {% else %}
                                                    <p class="price-undefined">cere oferta</p>
                                                {%endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div id="pagination">
                        <div class="navigation text-right">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}



    {% block javascripts %}
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
                integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
        crossorigin="anonymous"></script>
        <!-- Bootstrap 4 Alpha JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
                integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
        crossorigin="anonymous"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/admin/js/select2.js') }}"></script>
        <script>
            $('.selectpicker').selectpicker({
                size: 10
            });

        </script>
        <script type="text/javascript" src="{{ asset('bundles/admin/js/grid-list.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admin/js/filter.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admin/js/jquery.cookie.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admin/js/jquery.LoadingBox.js') }}"></script>
    {% endblock %}